footer {
  margin: 2em 0;
}

.container {
  width: 75%;
  margin: auto;
}

footer hr {
  background-color: #064F2E;
  height: 1px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #064F2E;
  padding: 0;
  text-decoration: none;
}

.madeby {
  display: block;
}

.attribution {
  font-size: 10px;
}

.madeby a {
    font-size: 16px;
    color: #064F2E;
}

.email p{
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@media only screen and (max-width: 780px){
  .container {
    width: 100%;
    margin: auto;
    padding: 0 1em;
  }

  .footer {
  justify-content: center;
  padding: 0;
  flex-direction: column-reverse;
  }
}