.Container {
    width: 80%;
    margin: auto;
    margin-bottom: 2em;
}

Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1em;
}

.FormContainer {
    padding-bottom: 1em;
}

.Mobile {
    display: none;
}

.Button {
    color: red;
    margin-top: 1em;
    background-color: #59F8E8;
}

.Desktop{
    display: block;
}


@media only screen and (max-width: 600px){
    .Mobile {
        display: block;
    }
    .Desktop{
        display: none;
    }
    
}
