.CCTV {
    position: absolute;
    width: 150px;
    opacity: 0;
    top: 0;
    right: 5px;
    animation: slide-in-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0s forwards;
}

@keyframes slide-in-right {
    0% {
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @media only screen and (max-width: 1000px){
    .CCTV {
      width: 100px;
      right: 5px;
  }
  }

  @media only screen and (max-width: 500px){
    .CCTV {
      width: 80px;
      right: 0px;
  }
  }