.container {
    display: flex;
    position: relative;
    width: 100%;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    border-bottom: 3px solid #064F2E;
  }
  
  .linksContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #A5D0A8;
    margin-right: 2em;
  }
  
  .linksContainer ul {
    margin: 0;
  }

  
  
  .linksContainer ul li {
    list-style: none;
    display: inline-block;
    text-decoration: none;
    padding: 1em;
    color: #E3170A;
    height: 100%;
      font-size: 1em;
    text-align: center;
    margin-bottom: 0;
  }
  
  .linksContainer ul li a {
    text-decoration: none;
    color: E3170A;
    font-weight: bold;
  }
  
  .linksContainer ul li a:hover {
    color: #064F2E;
  }
  
  .logoContainer {
    width: 150px;
    height: 100%;
    background-color: #064F2E;
    color: 'white';
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
     padding: 0.2em;
     overflow: hidden;
  }

  .logoContainer a {
    text-decoration: none!important;
    color: white
  }

  .Home a {
    text-decoration: none;
    color: #A5D0A8;
  }

  .Home:active, .Home a:active {
    color: black;
  }
  
  .logoContainer img {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0;
    /* padding: 1em; */
    margin-top: px;
  }
  
  .burgerLinks {
    display: flex;
    justify-content: center;
    z-index: 1000;
    background-color: black;
    position: fixed;
    right: -65%;
    height: 100%;
    top: 0;
    width: 65%;
    border-left: 3px solid #064F2E;
    padding-top: 5em;
    transition: right 0.5s ease-in-out;
  }
  
  .activeBurger {
    right: 0;
  }
  
  .burgerLinks ul li{
    list-style: none;
  }
  
  .burgerLinks ul li a{
    display: inline-block;
    text-decoration: none;
    padding: 0.5em;
    color: E3170A;
    font-size: 1em;
  }
  
  /* MOBILE STYLING */
  
  .burger {
    position: absolute;
    width: 2em;
    top: 5px;
    right: 5px;
    z-index: 10000;
  }
  
  .burgerContainer {
    display: none;
    position: absolute;
    right: 30px;
    background-color: black;
    z-index: 10000;
  }
  
  .burgerTop, .burgerMiddle, .burgerBottom {
    height: 3px;
    width: 39px;
    background-color: #E3170A;
    display: block;
    margin: 0.4em 0;
  }
  
  
  
  @media only screen and (max-width: 780px){
    .container {
      height: 4em;
    }
  
    .burgerContainer {
      display: block;
    }
  
    .linksContainer {
      display: none;
    }
  
    .logoContainer {
      min-width: 8em;
      padding: 0.3em;
    }
  }