.container {
    display: flex;
    position: relative;
    width: 100%;
    background-color: #003161;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    /* border-bottom: 1px solid #59F8E8; */
  }
  
  .linksContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: 2em;
  }
  
  .linksContainer ul {
    margin: 0;
  }
  
  
  .linksContainer ul li {
    list-style: none;
    display: inline-block;
    text-decoration: none;
    padding: 1em;
    color: white;
    height: 100%;
      font-size: 1em;
    text-align: center;
    margin-bottom: 0;
  }
  
  .linksContainer ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .linksContainer ul li a:hover {
    color: #59F8E8;
  }
  
  .logoContainer {
    width: 10em;
    padding: 1.5em;
  }
  
  .logoContainer img {
    max-width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0;
  }
  
  .burgerLinks {
    display: flex;
    justify-content: center;
      z-index: 1000;
      background-color: black;
      position: fixed;
      right: -60%;
      height: 100%;
      top: 0;
      width: 60%;
      border-left: 3px solid #59F8E8;
      padding-top: 5em;
      transition: right 1.5s ease-in-out;
  }
  
  .activeBurger {
    right: 0;
  }
  
  .burgerLinks ul li{
    list-style: none;
  }
  
  .burgerLinks ul li a{
    display: inline-block;
    text-decoration: none;
    padding: 0.5em;
    color: white;
    font-size: 1em;
  }
  
  /* MOBILE STYLING */
  
  .burger {
    position: absolute;
    width: 2em;
    top: 5px;
    right: 5px;
    z-index: 10000;
  }
  
  .burgerContainer {
    display: none;
    position: absolute;
    right: 30px;
    background-color: black;
    z-index: 10000;
  }
  
  .burgerTop, .burgerMiddle, .burgerBottom {
    height: 3px;
    width: 39px;
    background-color: white;
    display: block;
    margin: 0.4em 0;
  }
  
  
  
  @media only screen and (max-width: 780px){
    .container {
      height: 5em;
    }
  
    .burgerContainer {
      display: block;
    }
  
    .linksContainer {
      display: none;
    }
  
    .logoContainer {
      width: 8em;
      padding: 1em;
    }
  }